<div>
    <h1>Log In Form</h1>
    <div>
        <mat-card>
            <p>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Placeholder">
                <mat-label>Login</mat-label>
            </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </p>

            <button mat-flat-button color="primary" type="submit">Connexion</button>
        </mat-card>
    </div>
</div>